/*
 Theme Name:   Riley Home Care
 Theme URI:    http://rileyhomecare.com/
 Description:  Riley Home Care Child Theme
 Author:       Matt Cyr
 Author URI:   http://mspacecreative.com
 Template:     Divi
 Version:      1.0
*/

@import url("https://use.typekit.net/ohy2wuu.css");

body {
	background-image: radial-gradient(circle at center,#fff 45%,#c9c9c9);
	font-family: "myriad-pro", 'Myriad Pro', sans-serif;
}

#main-content {
	max-width: 1600px;
	margin: auto;
}

.container, .et_pb_fullwidth_header .et_pb_fullwidth_header_container, .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content, .et_pb_row {
	width: 90%;
}

input,
textarea,
button,
select,
a, .hamburger {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #000e50;
}

.hamburger {
	background: transparent;
}

.hamburger:hover {
	opacity: 1;
}

html .hamburger {
	padding: 0;
}

.mobile-nav {
	background: #000e50;
}

.hero {
	position: relative;
	height: 500px;
	overflow: hidden;
}

h3, h4 {
	line-height: 1.35em;
	padding: 0;
	margin-bottom: 15px;
	color: #333;
}

h4 {
	font-size: 20px;
}

h2 {
	line-height: 1.5em;
}

.entry-content ul {
	padding-left: 18px;
	color: #333;
	font-size: 17px;
}

.entry-content p {
	color: #333;
	font-size: 17px;
	padding: 0;
	margin-bottom: 15px;
}

.hero img {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.hero-overlay .header-content {
	padding: 35px;
	background: rgba(100,150,50,.5);
	color: #fff;
	text-align: center;
	border-radius: 20px;
	width: 90%;
	margin: auto;
}

.hero-overlay h1 {
	color: #fff;
	line-height: 1.25em;
	font-weight: bold;
	font-size: 40px;
}

#logo {
	max-height: 74%;
}

#services-section {
	position: relative;
}

.contact-cta {
	position: relative;
	z-index: 3;
}

#services-section:before {
	position: absolute;
	bottom: -50px;
	right: 0;
	z-index: 1;
	width: 530px;
	height: 150%;
	background-image: url(img/riley-home-care-cup-of-tea.png);
	background-repeat: no-repeat;
	content: '';
	background-position: bottom right;
	background-size: 100%;
}

#et_top_search {
	display: none;
}

h1 {
	line-height: 1.25em;
}

h1.entry-title {
	padding-bottom: 0;
}

#main-content .et_pb_title_container {
	padding: 0;
}

.home-cta-1:before {
	position: absolute;
	content:'';
	background: rgba(255,255,255,.85);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.home-services-section:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background: url(img/dust_scratches.png);
	background-repeat: repeat;
	z-index: 1;
	width: 100%;
	height: 400px;
	opacity: .5;
}

.home-services-section {
	overflow: hidden;
}

.white-transparent-overlay:before {
	position: absolute;
	content:'';
	background: rgba(255,255,255,.85);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

nav li a {
	font-size: 18px;
}

.mobile-nav li a {
	font-size: 18px;
}

.bottom-shadow:after {
	position: absolute;
	content:'';
	background: url(img/bottom-shadow.png) no-repeat;
	height: 27px;
	width: 100%;
	bottom: -27px;
	left: 0;
	z-index: 10;
	background-position: center;
}

.bottom-shadow-top:after {
	position: absolute;
	content:'';
	background: url(img/bottom-shadow.png) no-repeat;
	height: 27px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-position: center;
}

#main-header .container, #main-footer .container {
	max-width: 1280px;
}

#main-footer {
	background: #000e50;
	z-index: 3;
	position: relative;
}

#main-footer p, #main-footer a {
	color: #fff;
}

.email-form p {
	float: left;
	width: 70%;
	margin-top: 15px;
}

.email-form input, .email-form p .wpcf7-submit {
	width: 100%;
	padding: 10px;
	border: none;
	-webkit-border-radius:0; 
	border-radius:0;
}

.wpcf7-submit {
	background: #84b756;
	font-family: "myriad-pro-condensed", 'Myriad Pro', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.email-form p:last-of-type {
	width: 30%;
}

#main-footer h4 {
	color: #fff;
	font-weight: bold;
}

#footer-bottom {
	padding: 10px 0;
}

#main-footer .footer-widget:nth-child(1) {
	width: 29.66%;
}

#main-footer .footer-widget:nth-child(2) {
	width: 20%;
}

#main-footer .footer-widget:nth-child(3) {
	width: 39%;
	margin-right: 0;
}

@media (min-width: 768px) and (max-width: 980px) {

#main-footer .footer-widget:nth-child(3) {
	width: 100%!important;
}
}

@media (max-width: 980px) {

.hero {
	height: 350px;
}

/*.et_header_style_left #logo {
	max-width: none;
}*/

#logo {
	max-height: 50%;
}

.et_pb_section {
    padding: 25px 0;
}

.hero-overlay .header-content {
	padding: 25px;
}

.white-bg-block {
	background: rgba(255, 255, 255, .85);
	padding: 25px;
}

.hero-overlay h1 {
	font-size: 23px;
}

.et_pb_fullwidth_code.et_pb_module.hero-overlay {
	padding: 15px;
}
}

@media (max-width: 700px) {

.hero {
	height: 250px;
}
}

@media (min-width: 701px) and (max-width: 1080px) {

.et_header_style_left #logo{
	max-width: 35%;
}
}

@media (max-width: 1080px) {

.et_header_style_left .logo_container {
	position: relative;
}

#logo {
	padding: 10px 0;
}
}