/*
 Theme Name:   Riley Home Care
 Theme URI:    http://rileyhomecare.com/
 Description:  Riley Home Care Child Theme
 Author:       Matt Cyr
 Author URI:   http://mspacecreative.com
 Template:     Divi
 Version:      1.0
*/

@import url("https://use.typekit.net/ohy2wuu.css");

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	background-image: radial-gradient(circle at center,#fff 45%,#c9c9c9);
	font-family: "myriad-pro", 'Myriad Pro', sans-serif;
}

#main-content {
	max-width: 1600px;
	margin: auto;
}

.container, .et_pb_fullwidth_header .et_pb_fullwidth_header_container, .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content, .et_pb_row {
	width: 90%;
}

input,
textarea,
button,
select,
a, .hamburger {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #000e50;
}

.hamburger {
	background: transparent;
}

.hamburger:hover {
	opacity: 1;
}

html .hamburger {
	padding: 0;
}

.mobile-nav {
	background: #000e50;
}

.hero {
	position: relative;
	height: 500px;
	overflow: hidden;
}

h3, h4 {
	line-height: 1.35em;
	padding: 0;
	margin-bottom: 15px;
	color: #333;
}

h4 {
	font-size: 20px;
}

h2 {
	line-height: 1.5em;
}

.entry-content ul {
	padding-left: 18px;
	color: #333;
	font-size: 17px;
	margin: 15px 0 0;
}

.green-bg-block h3 {
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
}

.entry-content h2 {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.15em;
	padding-bottom: 0;
	margin-bottom: 15px;
}

.entry-content ol {
 	font-size: 17px;
 	margin: 15px 0 0;
}

.entry-content ol li {
	text-indent: -15px;
	padding-left: 13px;
}

.entry-content ol:last-of-type, .entry-content h4:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
}

.entry-content h3 {
	color: #2ea3f2;
}

.entry-content p {
	color: #333;
	font-size: 17px;
	padding: 0;
	margin: 15px 0;
}

.hero img {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.hero-overlay .header-content {
	padding: 35px;
	background: rgba(100,150,50,.5);
	color: #fff;
	text-align: center;
	border-radius: 10px;
	width: 90%;
	margin: auto;
}

.hero-overlay h1 {
	color: #fff;
	line-height: 1.25em;
	font-weight: bold;
	font-size: 40px;
}

#logo {
	max-height: 74%;
}

#services-section {
	position: relative;
}

.contact-cta {
	position: relative;
	z-index: 3;
}

#services-section:before {
	position: absolute;
	bottom: -50px;
	right: 0;
	z-index: 1;
	width: 530px;
	height: 150%;
	background-image: url(img/riley-home-care-cup-of-tea.png);
	background-repeat: no-repeat;
	content: '';
	background-position: bottom right;
	background-size: 100%;
}

#foot-care-section:before {
	position: absolute;
	bottom: -50px;
	right: 0;
	z-index: 1;
	width: 530px;
	height: 150%;
	background-image: url(img/riley-home-care-foot.png);
	background-repeat: no-repeat;
	content: '';
	background-position: bottom right;
	background-size: 100%;
}

#education-section:before {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 35%;
	height: 120%;
	background-image: url(img/riley-home-care-education.png);
	background-repeat: no-repeat;
	content: '';
	background-position: bottom right;
	background-size: 100%;
	right: 0;
}

#personal-support:before {
	position: absolute;
	z-index: 1;
	background-image: url(img/riley-home-care-support.png);
	background-repeat: no-repeat;
	content: '';
	background-size: contain;
	left: -12.5%;
	top: 0;
	height: 100%;
	width: 100%;
}

.one_half.last_column {
	margin-right: 0;
}

#footer-bottom, html {
	background: #010b39;
}

#et_top_search {
	display: none;
}

h1 {
	line-height: 1.25em;
}

.et_pb_module_header{
	padding-bottom: 0;
}

h1.entry-title {
	padding-bottom: 0;
}

#main-content .et_pb_title_container {
	padding: 0;
}

.home-cta-1:before {
	position: absolute;
	content:'';
	background: rgba(255,255,255,.85);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.home-services-section:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background: url(img/dust_scratches.png);
	background-repeat: repeat;
	z-index: 1;
	width: 100%;
	height: 400px;
	opacity: .5;
}

.entry-content ul:last-child {
	padding-bottom: 0;
}

body.et_right_sidebar .one_half.last_column {
	margin-bottom: 0;
}

.home-services-section {
	overflow: hidden;
}

.white-transparent-overlay:before {
	position: absolute;
	content:'';
	background: rgba(255,255,255,.85);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

nav li a {
	font-size: 18px;
}

.mobile-nav li a {
	font-size: 18px;
}

.bottom-shadow:after {
	position: absolute;
	content:'';
	background: url(img/bottom-shadow.png) no-repeat;
	height: 27px;
	width: 100%;
	bottom: -27px;
	left: 0;
	z-index: 10;
	background-position: center;
}

.green-bg-block {
	background: rgba(130, 180, 85, .85);
	padding: 25px;
	border-radius: 10px;
}

.entry-content .green-bg-block p {
	color: #fff;
}

.bottom-shadow-top:after {
	position: absolute;
	content:'';
	background: url(img/bottom-shadow.png) no-repeat;
	height: 27px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-position: center;
}

#main-header .container, #main-footer .container {
	max-width: 1280px;
}

#main-header {
	position: fixed;
}

#main-footer {
	background: #000e50;
	z-index: 3;
	position: relative;
}

#main-footer p, #main-footer a {
	color: #fff;
}

.email-form p {
	float: left;
	width: 70%;
	margin-top: 15px;
}

.email-form input, .email-form p .wpcf7-submit {
	width: 100%;
	padding: 10px;
	border: none;
	-webkit-border-radius:0; 
	border-radius:0;
}

.contact_form .wpcf7 input.wpcf7-submit {
	background: #84b756;
	font-family: "myriad-pro-condensed", 'Myriad Pro', sans-serif;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 15px;
}

p:last-of-type {
	margin-bottom: 0;
}

.email-form p:last-of-type {
	width: 30%;
}

#main-footer h4 {
	color: #fff;
	font-weight: bold;
}

#footer-bottom {
	padding: 10px 0;
}

#main-footer .footer-widget:nth-child(1) {
	width: 29.66%;
}

#main-footer .footer-widget:nth-child(2) {
	width: 20%;
}

#main-footer .footer-widget:nth-child(3) {
	width: 39%;
	margin-right: 0;
}

.wpcf7 input, .wpcf7 textarea {
	width: 100%;
	padding: 7px 10px;
	font-size: 16px;
	font-family: "proxima-nova", Proxima Nova, sans-serif;
	
}

#subscribe-button {
	background-image: url(img/subscribe-button.png);
	background-color: #84b756;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0;
	background-position: center center;
	width: 100%;
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	padding: 7px 0;
}

.wpcf7 p {
	margin-bottom: 2%;
	margin-top: 2%;
}

.wpcf7 input.wpcf7-submit {
	font-size: 17px;
	font-weight: bold;
	border: none;
	padding: 0;
	line-height: inherit;
}

@media (min-width: 768px) and (max-width: 980px) {

#main-footer .footer-widget:nth-child(3) {
	width: 100%!important;
}
}

@media (max-width: 980px) {

.hero {
	height: 350px;
}

.et_pb_divider_hidden {
	height: 0;
}

.et_right_sidebar .et_pb_row .et_pb_column {
	margin-bottom: 0!important;
}

#logo {
	max-height: 50%;
}

.et_pb_section {
    padding: 25px 0;
}

.hero-overlay .header-content {
	padding: 25px;
}

.hero-overlay h1 {
	font-size: 23px;
}

.et_pb_fullwidth_code.et_pb_module.hero-overlay {
	padding: 15px;
}
}

@media (max-width: 700px) {

.hero {
	height: 250px;
}
}

@media (min-width: 701px) and (max-width: 1080px) {

.et_header_style_left #logo{
	max-width: 35%;
}
}

@media (max-width: 1080px) {

.et_header_style_left .logo_container {
	position: relative;
}

#logo {
	padding: 10px 0;
}
}

@media (min-width: 812px) {

.contact_form .wpcf7 p:nth-child(2), .contact_form .wpcf7 p:nth-child(3) {
	float: left;
	width: 49%;
	margin-right: 2%;
	margin-top: 0;
}

.contact_form .wpcf7 p:nth-child(3) {
	margin-right: 0;
}
}

@media (max-width: 812px) {

.et_header_style_left #logo {
	max-width: 225px;
}

#education-section:before {
	width: 100%;
	height: 100%;
	right: -10%;
}

.wpcf7 p {
	margin-bottom: 5%;
}

.wpcf7 p:nth-child(2), .wpcf7 p:nth-child(3) {
	margin-right: 0;
}

#personal-support:before {
	background-size: cover;
	width: 100%;
	height: 100%;
	left: auto;
	background-position: center center;
}
}

@media (max-width: 812px) and (orientation: landscape) {

#education-section:before {
	width: 75%;
	height: 100%;
	right: -10%;
}
}

@media (max-width: 1024px) {

.white-bg-block {
	background: rgba(255, 255, 255, .85);
	padding: 25px;
}
}

@media (min-width: 1025px) {

.et_pb_text_0.white-bg-block {
	max-width: 85%;
}
}

@media (min-width: 980px) {

.et_pb_text_0.white-bg-block.hold-block {
	background: none;
}
}

@media (max-width: 959px) {

body.et_right_sidebar .content-column.one_half {
	margin-bottom: 0;
}

.entry-content .one_half.last_column ul {
	margin-top: 0;
}

#personal-support .et_pb_text_inner .content-column.one_half:first-child {
	margin-bottom: 25px;
}
}

@media (min-width: 960px) {

#personal-support .et_pb_text_inner .one_half {
	width: 38%;
}

#personal-support .et_pb_text_inner .one_half.last_column {
	width: 58%;
}
}

.email-form .wpcf7 {
	margin-top: 15px;
}

.email-form .wpcf7:after {
	clear: both;
	display: table;
	content: '';
}

.email-form .wpcf7 p {
	margin-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.email-form .wpcf7 p:nth-child(2) {
	width: 65%;
	height: 30px;
	margin-top: 0;
	float: left;
	display: inline-block;
	line-height: 30px;
}

.email-form .wpcf7 p:nth-child(2) input {
	font-size: 13px;
}

.email-form .wpcf7 p:nth-child(3) {
	width: 35%;
	margin-top: 0;
	float: right;
	display: inline-block;
	line-height: 30px;
}

@media (min-width: 800px) and (max-width: 1024px) and (orientation: landscape) {
.email-form .wpcf7 p:nth-child(2) {
	width: 50%;
}

.email-form .wpcf7 p:nth-child(3) {
	width: 50%;
}
}

@media (min-width: 415px) and (max-width: 1024px) and (orientation: portrait) {
.email-form .wpcf7 p:nth-child(2) {
	width: 50%;
}

.email-form .wpcf7 p:nth-child(3) {
	width: 50%;
}
}